# User-specific files 
*.suo
*.user

# Build results 
*.opendb
*.sdf
bin/
ipch/
packages/
obj/
x64/
**/StyleCop.Cache

# Profiling results
*.vsp
*.vspx

# Visual Studio 2015 cache/options directory 
.vs/