<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="crossTimeDsp" type="CrossTimeDsp.Configuration.XmlConfigurationHandler`1[[CrossTimeDsp.Configuration.CrossTimeDspSection, CrossTimeDsp]], CrossTimeDsp"/>
  </configSections>
  <crossTimeDsp>
    <engine precision="Double" reverseTimeAntiClippingAttenuationInDB="-10">
      <q31Adaptive q31_32x64_Threshold="0.02" q31_64x64_Threshold="0.002"/>
    </engine>
    <filters>
      <biquad timeDirection="Reverse" type="Allpass" f0="150" q="0.70710678118655"/>
      <biquad timeDirection="Reverse" type="Allpass" f0="200" q="1.0"/>
      <biquad timeDirection="Reverse" type="Allpass" f0="1700" q="1.0"/>
      <firstOrder timeDirection="Reverse" type="Allpass" f0="40"/>
      <firstOrder timeDirection="Reverse" type="Allpass" f0="200"/>
      <firstOrder timeDirection="Reverse" type="Allpass" f0="1700"/>
    </filters>
    <output encoding="Wav">
      <collidingFileNamePostfix> - Cross Time DSP</collidingFileNamePostfix>
      <flac bitsPerSample="24" compressionLevel="8">
        <flacPath>C:\Program Files (x86)\FLAC\flac.exe</flacPath>
      </flac>
      <wav bitsPerSample="24"/>
    </output>
  </crossTimeDsp>
  <system.diagnostics>
    <trace autoflush="true" indentsize="2">
      <listeners>
        <add name="consoleListener" type="CrossTimeDsp.Common.ConsoleTraceListener, CrossTimeDsp"/>
      </listeners>
    </trace>
  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
